<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Generation System</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body class="bg-black-100">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold mb-4 text-center">
        Image Generation System
      </h1>
      <div class="mb-4">
        <label for="text" class="block mb-2">Text:</label>
        <input
          type="text"
          id="text"
          name="text"
          class="border rounded px-4 py-2 w-full"
        />
      </div>
      <div class="mb-4">
        <label for="providers" class="block mb-2">Providers:</label>
        <select
          id="providers"
          name="providers"
          class="border rounded px-4 py-2 w-full"
        >
          <option value="openai">OpenAI</option>
          <option value="other_provider">Other Provider</option>
          <!-- Add more options for providers as needed -->
        </select>
      </div>

      <div class="mb-4">
        <label for="resolution" class="block mb-2">Resolution:</label>
        <input
          type="text"
          id="resolution"
          name="resolution"
          class="border rounded px-4 py-2 w-full"
        />
      </div>
      <div class="flex justify-center">
        <button
          onclick="generateImagesAndFetchProcessId()"
          id="generateButton"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >
          Generate Images
        </button>
      </div>
      <div id="imageContainer" class="mt-4 flex justify-center items-center">
        <!-- Images will be displayed here -->
      </div>
    </div>

    <script>
      // Function to disable the generate button
      function disableGenerateButton() {
        document.getElementById("generateButton").disabled = true;
      }

      // Function to enable the generate button
      function enableGenerateButton() {
        document.getElementById("generateButton").disabled = false;
      }

      // Async function to generate images and fetch process ID
      async function generateImagesAndFetchProcessId() {
        // Disable the button
        disableGenerateButton();

        const text = document.getElementById("text").value;
        const resolution = document.getElementById("resolution").value;
        const providers = document.getElementById("providers").value;

        const generateImageData = {
          text: text,
          resolution: resolution,
          providers: providers,
        };

        // Use await to wait for the response
        await fetch("/generate_images", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(generateImageData),
        })
          .then((response) => response.json())
          .then((data) => {
            // Check if the response contains images
            if (data.images && data.images.process_id) {
              // Check if images and process_id exist in the response
              // Get the container element where images will be displayed
              const imageContainer = document.getElementById("imageContainer");
              // Clear previous content
              imageContainer.innerHTML = "";

              // Iterate over the items array and create img elements for each image
              data.images.forEach((item) => {
                const imageUrl = item.image_resource_url;
                const imgElement = document.createElement("img");
                imgElement.src = imageUrl;
                imgElement.style.width = "512px";
                imgElement.style.height = "512px"; // Adjust the width as needed
                imgElement.style.marginRight = "10px";
                imgElement.style.marginBottom = "10px";
                // Append the img element to the container
                imageContainer.appendChild(imgElement);
              });

              // Use process ID from the root level of the response
              const processId = data.process_id;
              console.log("Process ID:", processId);

              // Enable the button again
              enableGenerateButton();
            } else {
              // Handle case where response does not contain images or process ID
              alert("Some Error occurred while generating the image!");
              enableGenerateButton(); // Enable the button again
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            enableGenerateButton(); // Enable the button again
          });
      }
    </script>
  </body>
</html>
